header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px;

    .logo {
        display: flex;
        gap: 6px;
        align-items: center;
        color: var(--dark-pink-color);
        font-size: 16px;
    }

    nav {
        display: none;
        gap: 8px;
        a {
            transition: 0.5s;
            font-size: 20px;
            cursor: pointer;
            font-weight: bold;

            &:hover {
                color: var(--dark-purple-color);
            }

        }
    }

    .btn {
        display: none;
    }

}

@media screen and (width >= 1280px) {
    header {
        padding: 22px 28px;

        .menu {
            display: none;
        }

        .btn {
            display: block;
            font-size: 16px;
        }

        nav {
            display: flex;
        }

    }

}